<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-stats"></span>
                APM
            </a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/pazienti">Pazienti</a></li>
                <li><a href="/ricoveri">Ricoveri</a></li>
                <li><a href="/diagnosi">Diagnosi</a></li>
                <li><a href="/terapie-prescritte">Terapie Prescritte</a></li>
                <li><a href="/terapie">Terapie</a></li>
                <li><a href="/farmaci">Farmaci</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
        
    
    </div>
    </nav>
