<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Ospedale APM</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
    body {
        padding-top: 50px;
    }

    .flex-row {
        display: flex;
    }
    
    .btn-create {
        position: absolute;
        bottom: 0;
        right: 10%;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>